<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
             http://java.sun.com/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <!-- Configuração do erro 404 (página não encontrada) -->
    <error-page>
        <error-code>404</error-code>
        <location>/error/error404.jsp</location>
    </error-page>

    <!-- Configuração de erro genérico (captura de exceções) -->
    <error-page>
        <exception-type>java.lang.Exception</exception-type>
        <location>/error/error404.jsp</location>
    </error-page>

</web-app>
